.panel.panel-default
  .panel-heading
    h3.panel-title #{settings.locale.rl_current_balance} 
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address}
        th.hidden-xs #{settings.locale.rl_balance} (#{settings.symbol})
        th.hidden-xs(style='text-align:center;') %
    tbody
      - var count = 0
      each item in balance
        - count = count + 1
        - var itemFixed = item.balance / 100000000
        - var percentage = (itemFixed / stats.supply) * 100
        tr
          td(style='text-align:center;') 
            =count
          td 
            a(href='/address/#{item.a_id}') #{item.a_id}
            include ./rl_labels.jade
          td.hidden-xs.text-right
            =itemFixed.toFixed(8)
          td.hidden-xs(style='text-align:center;') 
            =percentage.toFixed(2)
